@model HB8.CSMS.MVC.Models.Staff.StaffModel
<script src="~/MyjQ/edit.partialview.js" type="text/javascript"></script>
<div class="panel-body my-background">
    <div class="partialViewWrapper">
        <br />
        <div class="col-lg-12 background-partial">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "staffform" }))
            {
                @Html.ValidationSummary(true);
                <fieldset>
                    <div class="row">
                        <div class="col-lg-3">
                            <div id="imagePreview">
                                @{
                if (Model.Image == null)
                {
                    <img src="~/Images/no_image.jpg" class="img-responsive img-center" id="changeimage" height="180" width="180" />
                }
                else
                {
                    <img src="~/Images/StaffImages/@Model.Image" class="img-responsive img-center" id="changeimage" height="180" width="180" />
                }
                                }
                            </div>
                            <br />
                            <div class="col-lg-12">
                                <span class="btn btn-success fileinput-button center-block" id="fix">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm hình</span>
                                    <input id="uploadFile" type="file" name="fileupload" />
                                </span>
                            </div>
                            <br />
                            <br />
                        </div>
                        <div class="col-lg-9 ">
                            <div class="form-group">
                                <label class="control-label col-lg-3 add-line">Tên Nhân Viên:</label>
                                @Html.HiddenFor(x => x.ID, new { @id = "Id" })
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(x => x.StaffName, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Tên nhân viên không được rỗng", @data_rule_maxlength = "50", @data_msg_maxlength = "Tên nhân viên tối đa 50 kí tự", @data_rule_minlength = "10", @data_msg_minlength = "Tên nhân viên tối thiểu 10 kí tự", @id = "staffName" })
                                    @Html.ValidationMessageFor(x => x.StaffName, String.Empty, new { @class = "error" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="active"><a data-toggle="tab" href="#staff"><h5>Thông tin nhân viên</h5> </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="staff">
                                    <div class="col-lg-12 change-color">
                                        <h4>Chức vụ:</h4>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 add-line">Chức vụ:</label>
                                            <div class="col-lg-3" id="dropdownlistForPosition">
                                                <select id="ddlPosition" class="form-control" data-rule-required="true" data-msg-required="Chức vụ không được rỗng">
                                                    <option selected="selected" value="@Model.UserId">@Model.UserName</option>                                     
                                                </select>                                          
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 change-color">
                                        <h4>Đặt mật khẩu:</h4>
                                        <div class="form-group ">
                                            <label class="control-label col-lg-2 add-line">Mật khẩu:</label>
                                            <div class="col-lg-10">
                                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Mật khẩu không được rỗng", @data_rule_minlength = "2", @data_msg_minlength = "Mật khẩu quá ngắn", @id = "pass", })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 add-line">Xác nhận mật khẩu:</label>
                                            <div class="col-lg-10">
                                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @data_rule_equalto = "#pass", @data_msg_equalto = "Mật khẩu không khớp", @id = "confirmPass", })
                                                @Html.ValidationMessageFor(x => x.ConfirmPassword, String.Empty, new { @class = "error" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-12 change-color">
                                        <h4>Thông tin liên hệ:</h4>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Địa chỉ:</label>
                                            <div class="col-lg-10">
                                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @data_rule_maxlength = "100", @data_msg_maxlength = "Địa chỉ quá dài", @data_rule_required = "true", @data_msg_required = "Địa chỉ không được rỗng", @data_rule_minlength = "2", @data_msg_minlength = "Địa chỉ quá ngắn", @id = "address", })
                                                @Html.ValidationMessageFor(x => x.Address, String.Empty, new { @class = "error" })

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Số điện thoại:</label>
                                            <div class="col-lg-3">
                                                @Html.TextBoxFor(x => x.NumberPhone, new { @class = "form-control", @data_rule_pattern = "[0][1-9]{1}[0-9]{8,9}", @data_msg_pattern = "Đinh dạng số điện thoại sai", @data_rule_required = "true", @data_msg_required = "Số điện thoại không được rỗng", @id = "numberphone" })
                                                @Html.ValidationMessageFor(x => x.NumberPhone, String.Empty, new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Email:</label>
                                            <div class="col-lg-10">
                                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @data_rule_email = "true", @type = "email", @data_msg_email = "Đinh dạng mail sai", @data_rule_pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", @data_msg_pattern = "Đinh dạng mail sai", @id = "email" })
                                                @Html.ValidationMessageFor(x => x.Email, String.Empty, new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <input type="button" class="btn btn-primary submit" value="Cập nhật" id="update-button">
                                                <input type="button" class="btn btn-primary " id="buttonExitEdit" value="Thoát">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>