@model HB8.CSMS.MVC.Models.BillSaleOrder.BillSaleOrderModel
<div class="panel-body my-background">
    <div class="partialViewWrapper">
        <div class="col-lg-12 background-partial">
            <br />
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-lg-4 add-line">Khách hàng:</label>
                        <div class="col-lg-8">
                            <input type="hidden" id="id" value="@Model.SOrderNo" />
                            <p>@Model.CustName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 add-line">Nhân viên:</label>
                        <div class="col-lg-8">
                            <p>@Model.StaffName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-4 add-line">Chiếc khấu:</label>
                        <div class="col-lg-8">
                            <p>@Model.Debt</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label col-lg-4 add-line">Ngày tạo:</label>
                        <div class="col-lg-8">
                            <p>@Model.OrderDateFormat</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-4 add-line">Ngày đến hạn:</label>
                        <div class="col-lg-8">
                            <p>@Model.OverdueDateFormat</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <hr />
                <div class="form-group">
                    <label class="control-label add-line">Mô tả:</label>
                    <div class="col-lg-12 ">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <br />
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#description"><h5>Chi tiết hóa đơn</h5> </a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="description">
                        <br />
                        <div class="col-lg-12">
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th class="text-center"><h4><b>STT</b></h4></th>
                                        <th class="text-center ">
                                            <h5><b>Tên sản phẩm</b></h5>
                                        </th>
                                        <th class="text-center ">
                                            <h5><b>Số lượng</b></h5>
                                        </th>
                                        <th class="text-center">
                                            <h5><b>Đơn vị tính</b></h5>
                                        </th>
                                        <th class="text-center ">
                                            <h5><b>Đơn giá</b></h5>
                                        </th>
                                        <th class="text-center ">
                                            <h5><b>Chiết khấu</b></h5>
                                        </th>
                                        <th class="text-center">
                                            <h5><b>Thuế</b></h5>
                                        </th>
                                        <th class="text-center ">
                                            <h5><b>Số tiền</b></h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center" id="tableInventory"></tbody>
                            </table>

                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="col-lg-10 text-right">Số tiền:</div>
                                <div class="col-lg-2">@Model.TotalAmt (VNĐ)</div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-10 text-right">Thuế:</div>
                                <div class="col-lg-2">@Model.TaxAmt (VNĐ)</div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-8"></div>
                                <div class="col-lg-4"><hr /></div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-10 text-right"><strong>Tổng cộng:</strong></div>
                                <div class="col-lg-2">@Model.Total</div>
                                <br />
                                <br />
                                <br />
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
