@*@model IEnumerable<HB8.CSMS.MVC.Models.Customer.CustomerModel>*@
@*@model  HB8.CSMS.MVC.Models.Paging.PagedData<HB8.CSMS.MVC.Models.Customer.CustomerModel>*@
          
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "ListCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#listView").hide();
        $("#showspinnerForm").hide();
        $("#showLoading").hide();
        $(".pagination").hide();
    });
</script>
@*<script type="text/javascript">
        $(document).ready(function () {
            $("#btnListView").button().click(function () {
                $("#listView").show();
                $(".gridView").hide();
                $(".pagination").show();

            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnGirdView").button().click(function () {

                $("#listView").hide();
                $(".gridView").show();
                $(".pagination").hide();

            });
        });
    </script>*@
<script type="text/javascript">
    $(document).ready(function () {
        var page = 0;
        var _inCallback = false;
        $(".demo").click(function () {
            alert('vao day')
            if (page > -1 && !_inCallback) {
                _inCallback = true;
                page++;
                $('div#loading').html('<p><img src="/Content/Images/loading.gif"></p>');
                $.get("/CustomerManager/ListCustomer/" + page, function (data) {
                    if (data != '') {
                        $("#productList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $('div#loading').empty();
                });
            }
        });
    });

</script>
<script type="text/javascript">
    $().ready(function () {
        $(".page-number").live("click", function () {

            var page = parseInt($(this).html());
            $.ajax({
                url: '/CustomerManager/CustomerList',
                data: { "page": page },
                success: function (data) {
                    $("#person-list").html(data);
                }
            });
        });
    });
</script>

<div class="row">
    <div class="col-md-12">
        <nav role="navigation" class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Khách hàng</a></li>
                </ul>
                <form role="search" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Search" class="form-control">
                    </div>
                </form>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class=" navbar-left">
                            <br />
                            <input type="button" value="Thêm nhân viên mới" class="buttonCreate btn btn-default " />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class=" navbar-right pull-right" id="paging">
                        </div>
                    </div>

                    <div class="col-md-2 text-center ">
                        <br />
                        <button type="button" class="btn btn-default  right" aria-label="Left Align" id="btnListView">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default right" aria-label="Left Align" id="btnGirdView">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                        </button>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>

            </div>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="panel panel-heading">
            <div class="panel panel-body">
                <div id="productList">
                    @Html.Partial("CustomerPartialView")
                </div>
                <div id="loading"></div>
                @*@{
                        var listCustomers = ViewBag.OnePageOfCustomers;
                        foreach (var item in listCustomers)
                        {

                            <div class="col-md-4 gridView">
                                <div class=" col-md-4 thumbnail">
                                    <img src="~/Images/no_image.jpg" class="img-rounded" width="110" alt="" />
                                </div>
                                <div class="caption col-md-8">
                                    <h3>@item.CustName</h3>
                                    <p>@item.Address</p>
                                    <p>@item.Phone</p>
                                </div>
                            </div>
                        }
                    }*@
                @*<table class="table table-striped" id="listView" style="display:none">
                    <thead>
                        <tr>
                            <th class="text-center">

                                <h5>Hình ảnh</h5>

                            </th>
                            <th class="text-center">

                                <h5>Tên Khách hàng</h5>

                            </th>
                            <th class="text-center">

                                <h5>Ngày sinh</h5>

                            </th>
                            <th class="text-center">

                                <h5>Địa chỉ</h5>

                            </th>
                            <th class="text-center">

                                <h5>Số điện thoại</h5>

                            </th>
                            <th class="text-center">

                                <h5>Fax</h5>

                            </th>
                            <th class="text-center">

                                <h5>Email</h5>

                            </th>
                            <th>

                                <h5></h5>

                            </th>
                            <th>

                                <h5></h5>

                            </th>

                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @{
                            var items = ViewBag.OnePageOfCustomers;
                            foreach (var item in items)
                            {
                        <tr>
                            <td class="text-center itemIdClass">
                                <input id="ID" type="hidden" value="@item.CustID" name="item.ID">
                            </td>
                            <td class="text-center">
                                @if (item.Image == null)
                                        {
                                <img src="~/Images/no_image.jpg" class="img-rounded" width="80" />
                                        }
                                        else
                                        {
                                <h5><img src="~/Images/StaffImages/@item.Image" alt="" class="img-rounded" width="80"></h5>
                                        }

                            </td>
                            <td class="text-center">

                                <h5>@item.CustName</h5>

                            </td>
                            <td class="text-center">

                                <small>@item.BirthDate</small>

                            </td>
                            <td class="text-center">

                                <h5>@item.Address</h5>

                            </td>
                            <td class="text-center">

                                <h5>@item.Phone</h5>

                            </td>
                            <td class="text-center">

                                <h5>@item.Fax</h5>

                            </td>
                            <td class="text-center">

                                <h5>@item.Email</h5>

                            </td>
                            <td class="text-center"></td>
                            <td class="text-center">

                                <input type="button" value="Sửa" class="buttonEdit btn btn-default" />

                            </td>
                            <td class="text-center">
                                <input type="button" value="Xóa" class="buttonDelete btn btn-default" />
                            </td>
                        </tr>
                        <tr></tr>

                            }
                        }

                    </tbody>
                </table>*@
            </div>
            <div class="text-center">
                <button class="btn btn-default demo">Hiện thêm</button>
            </div>
            <div id="showspinner"></div>
            <div id="createForm"></div>
            <div id="editForm"></div>
            <div id="deleteForm" style="display:none">
                <div class="panel panel-warning">
                    <div class="panel-heading"> <span><i class="fa fa-exclamation-triangle fa-2x"></i>  <b>Xóa thông tin nhân viên</b> </span> </div>
                    <div class="alert alert-error " style="text-align: center">
                        <strong>Cảnh báo!</strong> <p>Bạn có chắc là sẽ xóa thông tin nhân viên này</p>
                        <br />
                        <input type="button" value="Đồng ý" class="okDelete btn btn-danger right" />
                        <input type="button" value="Thoát" class="buttonCloseDelete btn btn-primary right " />
                    </div>
                </div>
            </div>
            <div id="showspinnerForm" style="display:none">
                <center><i class='fa fa-spinner fa-spin fa-5x ' id='spinner'></i></center>
            </div>
            <div id="showLoading" style="display:none">
                <center><i class='fa fa-spinner fa-spin fa-4x ' id='spinner'></i></center>
            </div>
            <div id="section">
                <input type="hidden" id="lastRowId" value="0" />
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<script src="~/MyjQ/Index.js" type="text/javascript"></script>