@model  HB8.CSMS.MVC.Models.Paging.PagedData<HB8.CSMS.MVC.Models.Customer.CustomerModel>
<div class="col-lg-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">

                    <h5>Hình ảnh</h5>

                </th>
                <th class="text-center">

                    <h5>Tên Khách hàng</h5>

                </th>
                <th class="text-center">

                    <h5>Ngày sinh</h5>

                </th>
                <th class="text-center">

                    <h5>Địa chỉ</h5>

                </th>
                <th class="text-center">

                    <h5>Số điện thoại</h5>

                </th>
                <th class="text-center">

                    <h5>Fax</h5>

                </th>
                <th class="text-center">
                    <h5>Email</h5>
                </th>
            </tr>
        </thead>
        <tbody class="text-center" id="tableCustomer">
            @{
                foreach (var item in Model.Data)
                {
                    <tr>
                        <td class="text-center itemIdClass">
                            <input id="ID" type="hidden" value="@item.CustID" name="item.ID">
                        </td>
                        <td class="text-center">
                            @if (item.Image == null)
                            {
                                <img src="~/Images/no_image.jpg" class="img-rounded" width="80" />
                            }
                            else
                            {
                                <h5><img src="~/Images/StaffImages/@item.Image" alt="" class="img-rounded" width="80"></h5>
                            }

                        </td>
                        <td class="text-center ">
                            <h5>@item.CustName</h5>

                        </td>
                        <td class="text-center">

                            <small>@item.BirthDate</small>

                        </td>
                        <td class="text-center">

                            <h5>@item.Address</h5>

                        </td>
                        <td class="text-center">

                            <h5>@item.Phone</h5>

                        </td>
                        <td class="text-center">

                            <h5>@item.Fax</h5>

                        </td>
                        <td class="text-center">

                            <h5>@item.Email</h5>

                        </td>
                    </tr>
                }
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.NumberOfPages; i++)
                        {
                            if (i == Model.CurrentPage)
                            {
                                <li class="active"><a class="currentpage" href="#" onclick="return false;" value="@i">@i<span class="sr-only"></span></a></li>

                            }
                            else
                            {

                                <li class=""><a class="page-numberForCustomer" href="javascript:;">@i<span class="sr-only"></span></a></li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<script src="~/MyjQ/Index.js"></script>

