@model HB8.CSMS.MVC.Models.Inventory.InventoryModel
<script src="~/MyjQ/create.partialview.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#createInventory-button").click(function () {
            $(this).attr('type', 'button');
            var id = $("#invtId").val();
            var name = $("#invtname").val();
            var className = $("#ddlClass").val();
            var unitT = $("#ddlUnitT").val();
            var unitRate = $("#unitRate").val();
            var salePriceT = $("#salePriceT").val();
            var unitL = $("#ddlUnitL").val();
            var salePriceL = $("#salePriceL").val();
            var discription = $("#description").val();
            var status = $("#ddlStatus").val();
            var staff = $("#ddlStaff").val();
            var stock = $("#ddlStock").val();
            var qutyStock = $("#qtyStock").val();
            var tax = $("#tax").val();
            var image = $("#uploadFileForInventory").val();
            if (id != '') {
                //Kiem tra 1 lan nua xem ma nv co ton tai hay khong
                $.ajax({
                    url: "/InventoryManager/HaveInventoryId",
                    type: 'Get',
                    data: { Id: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            sweetAlert("Cảnh báo", "Mã sản phẩm đã tồn tại!", "error");
                        } else {
                            var value = id.length * name.length * className.length * unitL.length * unitRate.length * salePriceT.length * unitL.length * salePriceL.length * status.length * staff.length * stock.length * qutyStock.length;
                            //Dung kiem tra xem cac thong tin nhap vao dung hay sai
                            if (value == 0) {
                                $(this).attr('type', 'submit');
                            } else {
                                $.post('/InventoryManager/CrateNewInventory', { "InvtID": id, "InvtName": name, "ClassId": className, "UnitID_T": unitT, "UnitID_L": unitL, "UnitRate": unitRate, "QtyStock": qutyStock, "StInventoryId": status, "Description": discription, "StaffId": staff, "StockId": stock, "SalePrice_T": salePriceT, "SalePrice_L": salePriceL, "SlsTax": tax ,"Image":image}, function () {
                                    swal({ title: "Lưu dữ liệu", text: "Lưu thành công", timer: 2000, showConfirmButton: false });
                                })
                            }
                        }
                    },
                    error: function (result) {
                        swal({ title: "Xảy ra lỗi", text: "Vui lòng load lại trang web", timer: 2000, showConfirmButton: false });
                    }
                });
            } else {
                $(this).attr('type', 'submit');
            }
        });
    });
</script>
<div class="panel-body my-background" >
    <div class="partialViewWrapper">
        <br />
        <div class="col-lg-12 background-partial">
            @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "inventoryform" }))
            {
                @Html.ValidationSummary(true);
                <fieldset>
                    <div class="row">
                        <div class="col-lg-3  ">
                            <div id="imagePreview">
                                <img class="img-responsive img-center" id="changeimage" height="180" width="180" src="~/Images/no_image.jpg" />
                            </div>
                            <br />
                            <div class="col-lg-12">
                                <span class="btn btn-success fileinput-button center-block" id="fix">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Thêm hình</span>
                                    <input id="uploadFileForInventory" type="file" name="fileupload" />
                                </span>
                                <br />
                            </div>
                        </div>
                        <div class="col-lg-9 ">
                            <div class="form-group">
                                <label class="control-label col-lg-3 add-line">Tên sản phẩm:</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(x => x.InvtName, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Tên sản phẩm không được rỗng", @data_rule_maxlength = "50", @data_msg_maxlength = "Tên sản phẩm tối đa 100 kí tự", @data_rule_minlength = "10", @data_msg_minlength = "Tên sản phẩm  tối thiểu 10 kí tự", @id = "invtname" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3 add-line">Nhóm sản phẩm:</label>
                                <div class="col-lg-5">
                                    <select id="ddlClass" class="form-control" data-rule-required="true" data-msg-required="Nhóm sản phẩm không được rỗng">
                                        <option selected="selected" value="">--Chọn nhóm sản phẩm--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="active"><a data-toggle="tab" href="#description"><h5>Thông tin</h5> </a></li>
                                <li class=""><a data-toggle="tab" href="#second"><h5>Hàng tồn kho</h5> </a></li>
                                <li class=""><a data-toggle="tab" href="#third"><h5>Thuế</h5> </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="description">
                                    <div class="col-lg-12">
                                        <br />
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 add-line">Đơn vị tính:</label>
                                                <div class="col-lg-9">
                                                    <select id="ddlUnitT" class="form-control" data-rule-required="true" data-msg-required="Đơn vị tính không được rỗng">
                                                        <option selected="selected" value="">--Đơn vị tính--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 add-line">Số lượng:</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(x => x.UnitRate, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Số lượng không được rỗng", @data_val_number = "Số lượng là một số", @id = "unitRate" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 add-line">Gía bán :</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(x => x.SalePrice_T, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Mã sản phẩm không được rỗng", @data_val_number = "Gía bán là một số", @id = "salePriceT" })

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 add-line">Đơn vị tính lẻ:</label>
                                                <div class="col-lg-9">
                                                    <select id="ddlUnitL" class="form-control" data-rule-required="true" data-msg-required="Đơn vị tính không được rỗng">
                                                        <option selected="selected" value="">--Đơn vị tính--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 add-line">Gía bán lẻ:</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(x => x.SalePrice_L, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Gía bán không được rỗng", @data_val_number = "Gía bán là một số", @id = "salePriceL" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="control-label col-lg-3 add-line">Mã sản phẩm:</label>
                                                <div class="col-lg-9">
                                                    @Html.TextBoxFor(x => x.InvtID, new { @class = "form-control", @data_rule_maxlength = "5", @data_msg_maxlength = "Mã sản phẩm tối đa 5 kí tự", @data_rule_minlength = "5", @data_msg_minlength = "Mã nhân sản phẩm it nhất 5 kí tự", @data_rule_required = "true", @data_msg_required = "Mã sản phẩm không được rỗng", @data_rule_pattern = "[a-zA-z0-9]{5}", @data_msg_pattern = "Mã sản phẩm không chứa kí tự đặc biệt", @id = "invtId" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2">Mô tả sản phẩm:</label>
                                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @data_rule_maxlength = "100", @data_msg_maxlength = "Miêu tả tối đa 200 kí tự", @data_rule_minlength = "10", @data_msg_minlength = "Miêu tả tối thiểu 10 kí tự", @id = "description" })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane " id="second">
                                    <div class="col-lg-12 change-color ">
                                        <h4>Tình trạng</h4>
                                        <div class="form-group">
                                            <br />
                                            <label class="control-label col-lg-2 add-line">Trạng thái:</label>
                                            <div class="col-lg-5">
                                                <select id="ddlStatus" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                                    <option selected="selected" value="">--Chọn trạng thái--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 add-line">Quản lí sản phẩm:</label>
                                            <div class="col-lg-5">
                                                <select id="ddlStaff" class="form-control" data-rule-required="true" data-msg-required="Nhân viên quản lí không được rỗng">
                                                    <option selected="selected" value="">--Chọn nhân viên quản lí sản phẩm--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <h4>Kho hàng</h4>
                                        <div class="form-group">
                                            <br />
                                            <label class="control-label col-lg-2 add-line">Kho hàng:</label>
                                            <div class="col-lg-5">
                                                <select id="ddlStock" class="form-control" data-rule-required="true" data-msg-required="Kho hàng không được rỗng">
                                                    <option selected="selected" value="">--Chọn kho hàng--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 add-line">Số lượng dự kiến nhập:</label>
                                            <div class="col-lg-5">
                                                @Html.TextBoxFor(x => x.QtyStock, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Số lượng không được rỗng", @data_val_number = "Số lượng là một số", @id = "qtyStock" })

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane " id="third">
                                    <div class="col-lg-12 change-color">
                                        <h4>Thuế</h4>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 add-line">Mức thuế:</label>
                                            <div class="col-lg-10">
                                                @Html.TextBoxFor(x => x.SlsTax, new { @class = "form-control", @data_val_number = "Thuế là một số", @id = "tax" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-12 text-center">
                        <input type="button" class="btn btn-primary submit" value="Cập nhật" id="createInventory-button">
                        <input type="button" class="btn btn-primary " id="buttonExitCreate" value="Thoát">
                    </div>
                </fieldset>
            }
        </div>
    </div>   
</div>
