@model HB8.CSMS.MVC.Models.Paging.PagedData<HB8.CSMS.MVC.Models.Inventory.InventoryModel>
@{
    if (Model.Data != null)
    {
        foreach (var item in Model.Data)
        {
            <div class="col-lg-4 gridView">
                <div class=" col-lg-4 thumbnail">
                    @{
            if (item.Image == null)
            {
                <img src="~/Images/no_image.jpg" class="img-rounded" width="110" alt="" />
            }
            else
            {
                <img src="~/Images/InventoryImages/@item.Image" class="img-rounded" width="110" alt="" />
            }
                    }

                </div>
                <div class="caption col-lg-8">
                    <a class="detailinventory" href="javascript:;" value="@item.InvtID"><h4 id="">@item.InvtName</h4></a>
                    <p id=""><strong>Gía:</strong> @item.SalePrice_L (VNĐ)</p>
                    <p id=""><strong>Số lượng:</strong>  @(item.UnitRate * item.QtyStock) @item.UnitName_L</p>
                    <input type="hidden" class="getnumberpages" value="@Model.NumberOfPages" />
                    <input type="hidden" class="count" value="@Model.Count" />
                    <input type="hidden" class="pagesize" value="@Model.PageSize" />
                </div>
            </div>
        }
    }
}
