@model HB8.CSMS.MVC.Models.Inventory.InventoryModel
<script src="~/MyjQ/create.partialview.js" type="text/javascript"></script>
<script type="text/javascript"> 
    $(document).ready(function () {
        $("#create-button").click(function () {
            $(this).attr('type', 'button');
            var id = $("#invtId").val();
            var name = $("#invtname").val();
            var className = $("#ddlClass").val();
            var unitT = $("#ddlUnitT").val();
            var unitRate = $("#unitRate").val();
            var salePriceT = $("#salePriceT").val();
            var unitL = $("#ddlUnitL").val();
            var salePriceL = $("#salePriceL").val();
            var discription = $("#description").val();
            var status = $("#ddlStatus").val();
            var staff = $("#ddlStaff").val();
            var stock = $("#ddlStock").val();
            var qutyStock = $("#qtyStock").val();
            
            if (id != '') {
                //Kiem tra 1 lan nua xem ma nv co ton tai hay khong
                $.ajax({
                    url: "/StaffManager/HaveStaffId",
                    type: 'Get',
                    data: { staffId: id },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            sweetAlert("Cảnh báo", "Mã nhân viên đã tồn tại!", "error");
                        } else {
                            //Dung kiem tra xem cac thong tin nhap vao dung hay sai
                            if (name.length <= 10 || name.length >= 50 || address.length < 2 || phone.length < 1 || position.length < 2) {
                                $(this).attr('type', 'submit');
                                $("#staffform").submit();
                            } else {
                                $("#editForm").dialog("close");
                                $.post('/StaffManager/CreateStaff', { "InvtID": id, "InvtName": name, "ClassId": className, "UnitID": address, "numberphone": phone, "email": mail, "Image": image }, function () {
                                    swal({ title: "Lưu dữ liệu", text: "Lưu thành công", timer: 2000, showConfirmButton: false });
                                    window.location.reload(true);
                                })
                            }
                        }
                    },
                    error: function (result) {
                        swal({ title: "Xảy ra lỗi", text: "Vui lòng load lại trang web", timer: 2000, showConfirmButton: false });
                    }
                });

            }
        });
    });
</script>
<div class="panel panel-primary">
    <div class="panel-heading"><h5>Thêm sản phẩm mới</h5></div>
    <div class="panel-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "inventoryform" }))
        {
            @Html.ValidationSummary(true);
            <fieldset>
                <div class="row">
                    <div class="col-lg-2  ">
                        <div id="imagePreview">
                            <img class="img-rounded fa fa-file-image-o centre-block" id="changeimage" height="180" width="180" src="~/Images/no_image.jpg" />
                        </div>
                        <br />
                        <div class="col-lg-12">
                            <span class="btn btn-success fileinput-button center-block" id="fix">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Thêm hình</span>
                                <input id="uploadFile" type="file" name="fileupload" />
                            </span>
                            <br />
                        </div>
                    </div>
                    <div class="col-lg-10 ">
                        <div class="form-group">
                            <label class="control-label col-lg-3">Tên sản phẩm:</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(x => x.InvtName, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Tên sản phẩm không được rỗng", @data_rule_maxlength = "50", @data_msg_maxlength = "Tên sản phẩm tối đa 100 kí tự", @data_rule_minlength = "10", @data_msg_minlength = "Tên sản phẩm  tối thiểu 10 kí tự", @id = "invtname" })
                                @Html.ValidationMessageFor(x => x.InvtName, String.Empty, new { @class = "error" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3">Nhóm sản phẩm:</label>
                            <div class="col-lg-5">
                                <select id="ddlClass" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                    <option selected="selected" value="">--Chọn nhóm sản phẩm--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a data-toggle="tab" href="#description"><h5>Thông tin</h5> </a></li>
                            <li class=""><a data-toggle="tab" href="#second"><h5>Hàng tồn kho</h5> </a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="description">
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <br />
                                            <label class="control-label col-lg-2">Đơn vị tính:</label>
                                            <div class="col-lg-10">
                                                <select id="ddlUnitT" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                                    <option selected="selected" value="">--Đơn vị tính--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Số lượng:</label>
                                            <div class="col-lg-10">
                                                @Html.TextBoxFor(x => x.UnitRate, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Số lượng không được rỗng", @data_val_number = "Số lượng là một số", @id="unitRate" })
                                                @Html.ValidationMessageFor(x => x.UnitRate, String.Empty, new { @class = "error" })


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Gía bán :</label>
                                            <div class="col-lg-10">
                                                @Html.TextBoxFor(x => x.SalePrice_T, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Gía bán không được rỗng", @data_val_number = "Gía bán là một số" ,@id="salePriceT" })
                                                @Html.ValidationMessageFor(x => x.SalePrice_T, String.Empty, new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Đơn vị tính lẻ:</label>
                                            <div class="col-lg-10">
                                                <select id="ddlUnitL" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                                    <option selected="selected" value="">--Đơn vị tính--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Gía bán lẻ:</label>
                                            <div class="col-lg-10">
                                                @Html.TextBoxFor(x => x.SalePrice_L, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Gía bán không được rỗng", @data_val_number = "Gía bán là một số", @id="salePriceL" })
                                                @Html.ValidationMessageFor(x => x.SalePrice_L, String.Empty, new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Mã sản phẩm:</label>
                                            <div class="col-lg-5">
                                                @Html.TextBoxFor(x => x.InvtID, new { @class = "form-control", @data_rule_maxlength = "5", @data_msg_maxlength = "Mã sản phẩm tối đa 5 kí tự", @data_rule_minlength = "5", @data_msg_minlength = "Mã nhân sản phẩm it nhất 5 kí tự", @data_rule_required = "true", @data_msg_required = "Mã sản phẩm không được rỗng", @data_rule_pattern = "[a-zA-z0-9]{5}", @data_msg_pattern = "Mã sản phẩm không chứa kí tự đặc biệt", @id = "invtId" })
                                                @Html.ValidationMessageFor(x => x.InvtID , String.Empty, new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2">Mô tả sản phẩm:</label>
                                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @data_rule_maxlength = "100", @data_msg_maxlength = "Miêu tả tối đa 200 kí tự", @data_rule_minlength = "10", @data_msg_minlength = "Miêu tả tối thiểu 10 kí tự", @id = "description" })
                                            @Html.ValidationMessageFor(x => x.Description, String.Empty, new { @class = "error" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane " id="second">
                                <div class="col-lg-12 ">
                                    <h3>Tình trạng</h3>
                                    <div class="form-group">
                                        <br />
                                        <label class="control-label col-lg-2">Trạng thái:</label>
                                        <div class="col-lg-5">
                                            <select id="ddlStatus" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                                <option selected="selected" value="">--Chọn trạng thái--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Quản lí sản phẩm:</label>
                                        <div class="col-lg-5">
                                            <select id="ddlStaff" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                                <option selected="selected" value="">--Chọn nhân viên quản lí sản phẩm--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <h3>Kho hàng</h3>
                                    <div class="form-group">
                                        <br />
                                        <label class="control-label col-lg-2">Kho hàng:</label>
                                        <div class="col-lg-5">
                                            <select id="ddlStock" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                                <option selected="selected" value="">--Chọn kho hàng--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-lg-2">Số lượng dự kiến nhập:</label>
                                        <div class="col-lg-5">
                                            @Html.TextBoxFor(x =>x.QtyStock, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Số lượng không được rỗng", @data_val_number = "Số lượng là một số" ,@id="qtyStock"})
                                            @Html.ValidationMessageFor(x => x.QtyStock, String.Empty, new { @class = "error" })
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class=" col-lg-12 text-center">
                    <input type="button" class="btn btn-primary submit" value="Cập nhật" id="create-button">
                    <input type="button" class="btn btn-primary " id="buttonExitCreate" value="Thoát">
                </div>
            </fieldset>
        }
    </div>
</div>
