@model HB8.CSMS.MVC.Models.Customer.CustomerModel
@{
    ViewBag.Title = "ListStaff";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script type="text/javascript">
    //Do du lieu vao dropdowlist
    $(document).ready(function () {
        $("#birthdatepicker").datepicker();//Hien lich cho nguoi dung chon ngay thang nam
        $.ajax({
            url: "/CustomerManager/ListStatus",
            type: 'Get',
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $("#ddlPosition").append($("<option></option>").val(value.StatusId).html(value.StatusName));
                });
            },
            error: function (result) {
                swal({ title: "Xảy ra lỗi", text: "Vui lòng load lại trang web", timer: 2000, showConfirmButton: false });
            }
        });
    })
</script>
<script type="text/javascript">
    //Kiem tra thong tin nhap vao dung hay sai
    $(document).ready(function () {
        $('#customerform').validate();
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".extra").hide();
        $("#btnExtra").on('click', function (e) {
            $(this).find('span').toggleClass('glyphicon glyphicon-triangle-bottom  glyphicon glyphicon-triangle-top');
            $(".extra").toggle("slow");
        });
    });
</script>
<div class="panel panel-primary">
    <div class="panel-heading"><h5>Thêm thông tin nhân viên</h5></div>
    <div class="panel-body">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "customerform" }))
        {
            @Html.ValidationSummary(true);
            <fieldset>
                <div class="col-lg-2  ">
                    <div id="imagePreview">
                        <img class="img-rounded fa fa-file-image-o centre-block" id="changeimage" height="180" width="180" src="~/Images/no_image.jpg" />
                    </div>
                    <br />
                    <br />
                    <div class="col-lg-12">
                        <span class="btn btn-success fileinput-button center-block" id="fix">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Thêm hình</span>
                            <input id="uploadFile" type="file" name="fileupload" />
                        </span>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="form-group">
                        <label class="control-label col-lg-2">Tên Khách hàng:</label>
                        <div class="col-lg-10">
                            @Html.HiddenFor(x => x.CustID);
                            @Html.TextBoxFor(x => x.CustName, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Tên khách hàng không được rỗng", @data_rule_maxlength = "50", @data_msg_maxlength = "Tên khách hàng tối đa 50 kí tự", @data_rule_minlength = "10", @data_msg_minlength = "Tên khách hàng tối thiểu 10 kí tự", @id = "customerName" })
                            @Html.ValidationMessageFor(x => x.CustName, String.Empty, new { @class = "error" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Ngày tháng năm sinh:</label>
                        <div class="col-lg-2">
                            @Html.TextBoxFor(x => x.BirthDate, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Ngày sinh không được rỗng", @id = "birthdatepicker" })
                            @Html.ValidationMessageFor(x => x.BirthDate, String.Empty, new { @class = "error" })
                            @*  <input id="startdatepicker" value="@Model.BirthDate.ToString("dd MMM yyyy")" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Địa chỉ:</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @data_rule_maxlength = "100", @data_msg_maxlength = "Địa chỉ quá dài", @data_rule_required = "true", @data_msg_required = "Địa chỉ không được rỗng", @data_rule_minlength = "2", @data_msg_minlength = "Địa chỉ quá ngắn", @id = "address", })
                            @Html.ValidationMessageFor(x => x.Address, String.Empty, new { @class = "error" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Số điện thoại:</label>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @data_rule_pattern = "[0][1-9]{1}[0-9]{8,9}", @data_msg_pattern = "Đinh dạng số điện thoại sai", @data_rule_required = "true", @data_msg_required = "Số điện thoại không được rỗng", @id = "numberphone" })
                            @Html.ValidationMessageFor(x => x.Phone, String.Empty, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Fax:</label>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(x => x.Fax, new { @class = "form-control", @data_rule_pattern = "[0-9]{8,12}", @data_msg_pattern = "Đinh dạng số fax sai", @id = "fax" })
                            @Html.ValidationMessageFor(x => x.Fax, String.Empty, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Email:</label>
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @data_rule_email = "true", @type = "email", @data_msg_email = "Đinh dạng mail sai", @data_rule_pattern = @"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", @data_msg_pattern = "Đinh dạng mail sai", @id = "email" })
                            @Html.ValidationMessageFor(x => x.Email, String.Empty, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Trạng thái:</label>
                        <div class="col-lg-3">
                            <select id="ddlPosition" class="form-control" data-rule-required="true" data-msg-required="Trạng thái không được rỗng">
                                <option selected="selected" value="">--Chọn trạng thái--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-default pull-right" id="btnExtra">
                                Thông tin mở rộng   <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>

                    <div class="form-group extra" id="">
                        <label class="control-label col-lg-2">Số ngày quá hạn thanh toán:</label>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(x => x.Overdue, new { @class = "form-control", @data_rule_required = "true", @data_msg_required = "Số ngày quá hạn thanh toán không được rỗng", @data_val_number = "Số ngày quá hạn thanh toán là một số", @data_rule_min = "0", @data_msg_min = "Số ngày quá hạn thanh toán tối thiểu là 0", @data_rule_max = "30", @data_msg_max = "Số ngày quá hạn thanh toán tối đa là 30", @id = "overdue" })
                            @Html.ValidationMessageFor(x => x.Overdue, String.Empty, new { @class = "error" })

                        </div>
                    </div>
                    <div class="form-group extra">
                        <label class="control-label col-lg-2">Nợ chưa đến hạn:</label>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", @data_val_number = "Nợ chưa đến hạn là một số", @id = "amount" })
                            @Html.ValidationMessageFor(x => x.Amount, String.Empty, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group extra">
                        <label class="control-label col-lg-2">Nợ quá hạn:</label>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(x => x.OverdueAmt, new { @class = "form-control", @data_val_number = "Nợ quá hạn là một số", @id = "overdueamt" })
                            @Html.ValidationMessageFor(x => x.OverdueAmt, String.Empty, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group extra">
                        <label class="control-label col-lg-2">Nợ đến hạn:</label>
                        <div class="col-lg-3">
                            @Html.TextBoxFor(x => x.DueAmt, new { @class = "form-control", @data_val_number = "Nợ đến hạn là một số", @id = "dueamt" })
                            @Html.ValidationMessageFor(x => x.DueAmt, String.Empty, new { @class = "error" })
                        </div>
                    </div>

                    <div class="form-group extra">
                        <label class="control-label col-lg-2">Miêu tả:</label>
                        <div class="col-lg-10">
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @data_rule_maxlength = "100", @data_msg_maxlength = "Miêu tả tối đa 50 kí tự", @data_rule_minlength = "10", @data_msg_minlength = "Miêu tả tối thiểu 10 kí tự", @id = "description" })
                            @Html.ValidationMessageFor(x => x.Description, String.Empty, new { @class = "error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="button" class="btn btn-primary submit" value="Cập nhật" id="create-button">
                            <input type="button" class="btn btn-primary " id="buttonExitCreate" value="Thoát">
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>