@model HB8.CSMS.MVC.Models.Paging.PagedData<HB8.CSMS.MVC.Models.Staff.StaffModel>
@{
    foreach (var item in Model.Data)
    {
        <div class="col-md-4 gridView">
            <div class=" col-md-4 thumbnail">
                <img src="~/Images/no_image.jpg" class="img-rounded" width="110" alt="" />
            </div>
            <div class="caption col-md-8">
                <a class="detailcustomer" href="javascript:;" value="@item.ID"><h4 id="getname">@item.StaffName</h4></a>
                <p id="getaddress">@item.Address</p>
                <p id="getphone">@item.NumberPhone</p>
                <input type="hidden" class="getnumberpages" value="@Model.NumberOfPages" />
                <input type="hidden" class="count" value="@Model.Count" />
                <input type="hidden" class="pagesize" value="@Model.PageSize" />
            </div>
        </div>
    }
}