@model  HB8.CSMS.MVC.Models.Paging.PagedData<HB8.CSMS.MVC.Models.Inventory.InventoryModel>
<div class="col-lg-11">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th class="text-center">
                    <h4>Tên sản phẩm</h4>
                </th>
                <th class="text-center">

                    <h4>Đơn vị tính</h4>

                </th>
                <th class="text-center">

                    <h4>Số lượng nhập</h4>

                </th>
                <th class="text-center">
                    <h4>Gía bán sĩ</h4>
                </th>
                <th class="text-center">
                    <h4>Gía bán lẻ</h4>
                </th>
            </tr>
        </thead>
        <tbody class="text-center" id="tableInventory">
            @{
                foreach (var item in Model.Data)
                {
                    <tr>
                        <td class="text-center itemIdClass">
                            <input class="ID" type="hidden" value="@item.InvtID" name="">
                        </td>
                        <td class="text-center">

                            <p style="font-size:medium">@item.InvtName</p>

                        </td>
                        <td class="text-center">

                            <p style="font-size:medium">@item.UnitName_L</p>

                        </td>
                        <td class="text-center">

                            <p style="font-size:medium">@item.QtyStock</p>

                        </td>
                        <td class="text-center">

                            <p style="font-size:medium">@item.SalePrice_T</p>

                        </td>
                        <td class="text-center">

                            <p style="font-size:medium">@item.SalePrice_L</p>

                        </td>
                    </tr>
                }
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.NumberOfPages; i++)
                        {
                            if (i == Model.CurrentPage)
                            {
                                <li class="active"><a class="currentpage" href="#" onclick="return false;" value="@i">@i<span class="sr-only"></span></a></li>

                            }
                            else
                            {

                                <li class=""><a class="page-numberForInventory" href="javascript:;">@i<span class="sr-only"></span></a></li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        </tfoot>
    </table>

</div>


<script src="~/MyjQ/Index.js"></script>